NOUSARIUM_VAULT_PATH=/srv/nousarium/vault
NOUSARIUM_RUNTIME_PATH=/srv/nousarium/runtime
NOUSARIUM_APP_SECRET=change-me
CURSOR_API_KEY=
AGENT_SERVICE_URL=http://127.0.0.1:8787
WEB_ORIGIN=http://127.0.0.1:3000
NOUSARIUM_WEB_PORT=13000
HOST_UID=1001
HOST_GID=1001
